body{
    margin: 0px;
}
#header{
    margin:0px;
    background: #b16565;
    color: white;
    border: solid 1.5px darkgrey;
    border-top: none;
    padding-bottom: 10px;
    padding-top: 10px;
}
#title{
    margin:0px;
    padding-left: 20px;
    display: inline;
    font-family: cursive;
    font-weight: bold;
}
#searchInput{
    margin-top: 15px;
    float: right;
    margin-right: 5px;
    border-color: rgba(148, 148, 148, 0.726);
    border-width: 2px;
}
#searchButton{
    margin-top: 15px;
    float: right;
    margin-right: 20px;
    border-color: rgba(160, 159, 159, 0.726);;
    border-width: 2px;
}
#container{
    background: #f4f4f4;
    height: 510px;
    margin: 20px;
    border: solid 1px darkgrey;
}
#footerRuler{
    margin:0px;
}
#footer{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
}